.comments {
	display: flex;
	flex-direction: column;
}

.comments-title {
	margin-right: auto;
}

.comment {
	display: flex;
	justify-content: flex-start;
}

.comments li {
	padding: 10px 50px;
	margin-top: 20px;
}

.comment-author {
	font-weight: 600;
	margin-right: 20px;
}

.comment-subcomments {
	margin-left: 60px;
}

.comment-delete {
	color: red;
	font-weight: 900;
	margin-left: 20px;
	cursor: pointer;
}